{% for rule in rules %}
  {{- rule.action|default('pass') }} {{ rule.direction|default('in') }} {{ rule.family|d('inet6') }} proto {{ rule.proto }} to {{ rule.to.address|default(inventory_hostname) }} port { {{ rule.to.ports }} }
{% endfor %}
