{% if service.type == 'process' %}
  check process {% if service.jail is defined %}{{ service.jail }}_{% endif %}{{ service.name }} with pidfile {% if service.jail is defined %}/usr/jails/{{ service.jail }}{% endif %}{{ service.pidfile }}
  {% for action in ['start', 'stop'] %}
    {{ action }} program = "/usr/sbin/service {% if service.jail is defined %}-j {{ service.jail }}{% endif %} {{ service.name }} {{ action }}"
  {% endfor %}
{% endif %}
