{% if service.type == 'process' %}
  check process {% if jailed %}{{ jail_name }}_{% endif %}{{ service.name }} with pidfile {% if jailed %}/usr/jails/{{ jail_name }}{% endif %}{{ service.pidfile }}
  {% for action in ['start', 'stop'] %}
    {{ action }} program = "/usr/sbin/service {% if jailed %}-j {{ jail_name }}{% endif %} {{ service.name }} {{ action }}"
  {% endfor %}
{% endif %}
