stream {
  {% for jail in groups[inventory_hostname_short + '_jails'] %}
    {% set jail = hostvars[jail] %}
    upstream {{ jail.jail_name }} {
      server {{ jail.inventory_hostname }}:8443 fail_timeout=1s;
    }
  {% endfor %}

  map $ssl_preread_server_name $name {
  {% for jail in groups[inventory_hostname_short + '_jails'] %}
    {% for server in jail.nginx_servers|d([])|selectattr('proxy_ipv4', true, false) %}
        {{ server.name }} {{ jail.jail_name }};
        {% if server.www_subdomain|d(false) %}www.{{ server.name }} {{ jail.jail_name }};{% endif %}
        {% for alt in server.alternatives|d([]) %}
          {{ alt.name }} {{ jail.jail_name }};
          {% if alt.www_subdomain|d(false) %}www.{{ alt.name }} {{ jail.jail_name }};{% endif %}
        {% endfor %}
    {% endfor %}
  {% endfor %}
  }

  server {
    listen 443;
    proxy_pass $name;
    proxy_protocol on;
    ssl_preread on;
  }
}
