{% if item.tls %}
  listen [::]:{{ item.port|d(443) }} ssl http2;
  {% if item.proxy_protocol|d(true) %}
    listen [::]:8443 ssl proxy_protocol http2;
  {% endif %}

  ssl_certificate /usr/local/etc/letsencrypt/live/{{ item.name }}/fullchain.pem;
  ssl_certificate_key /usr/local/etc/letsencrypt/live/{{ item.name }}/privkey.pem;
{% else %}
  listen [::]:80;
{% endif %}
