server {
  {% include 'server_listen.j2' %}

  server_name
    {% if server.www_subdomain|d(false) %}www.{% endif %}{{ server.name }}
    {% for alt in server.alternatives|d([]) %}
      {% if alt.www_subdomain|d(false) %}www.{% endif %}{{ alt.name }}
    {% endfor %}
  ;

  {% for location in server.locations|d([]) %}
    location {{ location.path }} {
      {% if location.proxy|d(false) %}
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass {{ location.proxy.pass }};
      {% endif %}
    }
  {% endfor %}

  root {{ (server.root|d(server.name)).startswith('/')|ternary(server.root|d(server.name), '/usr/local/www/' + (server.root|d(server.name))) }};
}

{% if server.www_subdomain|d(false) or server.alternatives|d([])|anywithattr('www_subdomain') %}
  ## redirect missing www.

  server {
    {% include 'server_listen.j2' %}

    server_name
      {% if server.www_subdomain|d(false) %}{{ server.name }}{% endif %}
      {% for alt in server.alternatives|d([])|selectattr('www_subdomain', true, false) %}
        {{ alt.name }}
      {% endfor %}
    ;

    return 301 $scheme://www.$host$request_uri;
  }
{% endif %}
