{% for jail in groups[inventory_hostname_short + '_jails'] %}
  {% set jail = hostvars[jail] %}
  {% if jail.nsd_zones is defined %}
# nat nsd to jail
rdr pass on $int_if inet proto domain to {{ inventory_hostname }} port domain -> {{ jail.ansible_all_ipv4_addresses[0] }}
  {% endif %}
{% endfor %}
